@import "../../../stylesheets/base/variables.scss";
// todo remove borders

.plays-page-canvas {
  // border: 8px solid black;
  min-height: 1000px;
  padding: 0;
  width: 100%;

  @include tablet-and-larger {
    padding: 0 2em;
  }
}
