/// Display Header Font Family
$display-header-font-family: 'Forum', 'Georgia', 'Times New Roman', Times, serif !default;

/// Header Font Family
$header-font-family: 'Tajawal', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Sub Header Font Family
$sub-header-font-family: 'Oxygen', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Base Body Text
$base-text-font-family: 'Maitree', 'Georgia', 'Times New Roman', Times, serif !default;

/// Base Text Color
$base-text-color: #333;
