@import '../../../stylesheets/base/variables.scss';

.site-header__title {
  display: block;
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  text-decoration: none;

  > h1 {
    display: inline;

    @include mobile-only {
      line-height: 1.1;
    }
  }
}

.site-header__subtitle {
  margin: 0 auto;
  text-align: center;
  font-family: $sub-header-font-family;
  // TODO: find better way to express
  letter-spacing: 3.5px;
  // todo : choose color
  color: grey;
}